.container {
  margin-top: 20px;
}

/* Carousel Styles */

.carousel-inner img {
  width: 100%;
  max-height: 460px;
}

/* Carousel Header Styles */
.header-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.header-text h2 {
  font-size: 40px;
}

.header-text h2 span {
  background-color: teal;
  padding: 10px;
}

.header-text h3 span {
  background-color: #000;
  padding: 15px;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-theme {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 15px;
}

.btn-theme:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

/* PLANTER LIST CSS */

a {
  text-decoration: none;
}

.s-box {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 295px;
  padding: 20px 25px;
  height: auto;
  box-sizing: border-box;
  margin: 30px;
  position: relative;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
  transition: transform 1s;
}

#x {
  position: relative;
  float: right;
  /* background: red; */
  /* color: white; */
  top: -10px;
  right: -50%;
  border-radius: 10px;
}

.s-box img {
  height: 150px;
}

.s-box h1 {
  color: #576975;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.s-box p {
  color: rgba(87, 105, 117, 0.9);
  text-align: center;
}

@media (max-width: 1050px) {
  .s-box-container {
    flex-wrap: wrap;
  }
  .header {
    margin: 15px;
  }
  .s-box {
    flex-grow: 1;
  }
}

.appIcon {
  border-radius: 10%;
}

.text {
  margin-top: 10px;
  position: absolute;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 25px;
  font-weight: 700;
  color: #03fc94;
  text-shadow: 1px 1px 1px #919191, 1px 30px 60px rgba(16, 16, 16, 0.4);
}

/* Service Section  */

.service-sec .heading {
  float: left;
  width: 100%;
  margin-bottom: 70px;
  text-align: center;
}
.service-sec h2 {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  color: green;
  font-size: 32px;
}
.service-sec h2 small {
  color: #222;
  display: block;
  font-size: 22px;
  margin-bottom: 18px;
}
.service-sec i {
  border: 1px solid greenyellow;
  border-radius: 2px;
  font-size: 25px;
  padding: 12px 0;
  width: 52px;
  color: teal;
  margin-bottom: 20px;
}
.service-sec h3 {
  font-size: 23px;
  font-weight: 600;
}
.service-sec p {
  line-height: 22px;
  margin-top: 13px;
  padding: 0 21px;
}
.service-sec .service-block {
  margin-top: 20px;
}

/* //AVATAR BOX  */

.container-img {
  position: relative;
  width: 25%;
}

.image {
  display: block;
  width: 100%;
  height: 200px;
}

.overlay-left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: teal;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.container-img:hover .overlay-left {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay-up {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: teal;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container-img:hover .overlay-up {
  height: 100%;
}

.overlay-right {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: teal;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.container-img:hover .overlay-right {
  width: 100%;
  left: 0;
}
