<div>
    <h1>In Cart</h1>
    <div class="s-box" *ngFor = "let planter of cartPlanters">
        <button class="btn button-small btn-danger" id="x"  (click) = "deleteItem()">X</button>
    
        <img alt="1" src="https://ak.picdn.net/shutterstock/videos/1027610672/thumb/11.jpg" class="appIcon" />
        <h1>Planter Id: {{planter.id}}</h1>
        
        <div class="blockquote" style="background-color:lightgreen; border-radius: 15px; width: 50%; text-align: center;">{{planter.cost | currency:'INR':'symbol':'1.2'}}</div>
        <hr width="100%">
        
        <br>
        
    </div>

    <!-- Checkout Button -->
    <!-- <button class="fa fa-edit btn btn-outline-primary" [routerLink] = "['/addOrder/']"></button>
    <a class="btn btn-success float-sm-end" (click) = "checkOut()">Checkout Cart</a> -->
</div>
