<div class="card">
  <div class="card-header">
    {{ pageTitle + ": " + customer?.name }}
  </div>

  <div class="card-body" *ngIf="customer">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">Name:</div>
          <div class="col-md-8">{{ customer.name }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">Email:</div>
          <div class="col-md-8">{{ customer.email }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">Phone:</div>
          <div class="col-md-8">{{ customer.phone }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">Status:</div>
          <div class="col-md-8" style="color: red">{{ customer.status }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">Address:</div>
          <div class="col-md-8 float-right">
            HouseNo:{{ customer.address.houseNo }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8 float-right">
            Colony:{{ customer.address.colony }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8 float-right">
            City:{{ customer.address.city }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8 float-right">
            State:{{ customer.address.state }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8 float-right">
            Pincode:{{ customer.address.pincode }}
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <button class="btn btn-dark" (click)="onBack()">Back</button>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <button
        class="btn btn-danger"
        style="width: 80px"
        (click)="onBack(); onToggle(customer)"
      >
        <i class="bi bi-arrow-90deg-left"></i> {{ buttonName(customer.status) }}
      </button>
    </div>
  </div>
</div>
