  <section>
    <div class="s-box-container">
      <div class="s-box">
        <img alt="1" src="https://ak.picdn.net/shutterstock/videos/1027610672/thumb/11.jpg" class="appIcon" />
        <h1>Planter id: 1</h1>
        <!--details------>
        <ul *ngIf = "showDetails">
             <li>Height: 25cm</li>
             <li>Shape: Circle</li>
             <li>Capacity: 4"</li>
             <li>Color: Red</li>
             <li>Drainage Holes: 2</li>
             <li>Stock Available: 28</li>
          </ul>
          <!-- <div> -->
          <a class="btn btn-danger " href="#cart">Rs 200</a><hr width="100%">
        <a class="btn btn-success float-sm-end" href="#cart">Add to Cart</a></div>
      <!-- </div> -->
    </div>
  </section>