<!DOCTYPE html>
<html>
<head>
    <title>Online Plant Nursery</title>
    <link rel="stylesheet" type="text/css" href="./app.component.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <div id="header-img">
        <img src="https://i.pinimg.com/originals/e8/88/d4/e888d4feff8fd5ff63a965471a94b874.gif">
        <h1>Online Plant Nursery</h1>
    </div>

    <ul id="nav-bar">
        <li><a href="#">Home</a></li>
        <!-- <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li> -->
        <li><a href="#plant">Plant</a></li>
        <li><a href="#seed">Seed</a></li>
        <li><a href="/planter-list">Planter</a></li>  

        <li class="float-end"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
        <li class="float-end"><a href="/orders">My Orders</a></li>
        <!-- Admin sees all Orders -->
        <li class="float-end"><a href="/allorders">All Orders</a></li>
        <li class="float-end"><a href="#login">Login</a></li>
        <li class="float-end"><a href="#signup">Sign Up</a></li>
    </ul>

    <div id="content">
        <!-- PUT EVERYTHING OF BODY HERE -->
        <router-outlet></router-outlet>
      <!-- <app-planter-list id="planter"></app-planter-list> -->
      
    </div>

    <br>

    <!-- Footer starts from here -->
    <div>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>Online Plant Nursery</h6>
                        <p class="text-justify"><i>An E-Commerce website </i>provides .... Provide some matter.....
                            .........
                            .........
                        </p>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Categories</h6>
                        <ul class="footer-links">
                            <!-- Create a method category(value) in component -->
                            <!-- <li><a (click)="category('Plants')">Books</a></li>
                            <li><a (click)="category('Seeds')">Electronics</a></li>
                            <li><a (click)="category('Planters')">Essentials</a></li>-->
                        </ul>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Contribute</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                            <a href="#">Online Plant Nursery</a>.
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#facebook"><i class="fab fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="youtube" href="#youtube"><i class="fab fa-youtube"></i></a></li>
                            <li><a class="instagram" href="#instagram"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>