
<!DOCTYPE html>
<html>
<head>
    <title>Online Plant Nursery</title>
    <link rel="stylesheet" type="text/css" href="./app.component.css">
</head>
<body>
    <div id="header-img">
        <img src="https://i.pinimg.com/originals/e8/88/d4/e888d4feff8fd5ff63a965471a94b874.gif">
        <h1>Online Plant Nursery</h1>
    </div>

    <ul id="nav-bar">
        <li><a href="#">Home</a></li>
        <!-- <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li> -->
        <li><a href="#plant">Plant</a></li>
        <li><a href="#seed">Seed</a></li>
        <li><a href="/planter-list">Planter</a></li>  

        <li class="float-end"><a href="#login">Login</a></li>
        <li class="float-end"><a href="#signup">Sign Up</a></li>
    </ul>

    <div id="content">
        <!-- PUT EVERYTHING OF BODY HERE -->
        <router-outlet></router-outlet>
      <!-- <app-planter-list id="planter"></app-planter-list> -->
      
    </div>
    
</body>
</html>

