<div class="col-lg-6 container">

    <!-- <button class="btn btn-outline-secondary btn-sm btn-block" >UPI</button>
    <button class="btn btn-outline-secondary btn-sm btn-block">Cash</button>
    <button class="btn btn-outline-secondary btn-sm btn-block">Card</button> -->
    <select class="form-select form-select-lg mb-3">
        <option selected>Open this select menu</option>
        <option value="1">Card</option>
        <option value="2">Cash</option>
        <option value="3">UPI</option>
      </select>

      <br><br><br>
     
      <button class="btn btn-outline-secondary btn-sm btn-block">Place order</button>

</div>