<div class="col-md-6" style="margin-left: 23%; background-color:aliceblue;border-radius: 20px;">
    <h2 class="text-center">Add Planter</h2>
    <form #form1="ngForm"  (ngSubmit)="createPlanter(form1)">
      <div class="form-group" >
        <label for="cost">Cost:</label>
        <input  [(ngModel)]="planter.cost"
         placeholder="Cost" name="cost"
          class="form-control" id="cost">
      </div>
    
      <div class="form-group">
        <label for="stock">Stock:</label>
        <input [(ngModel)]="planter.stock" 
        placeholder="Stock"
         name="stock" 
         class="form-control"
          id="stock">
      </div>
    
      <div class="form-group">
        <label for="type">Product Type: </label>
  
        <input [(ngModel)]="planter.type"
         placeholder="Product Type"
          name="type"
           class="form-control"
            id="type">
      </div>

      <div class="form-group">
        <label for="height">Height:</label>
        <input [(ngModel)]="planter.height" 
        placeholder="Height"
         name="height" 
         class="form-control"
          id="height">
      </div>

      <div class="form-group">
        <label for="shape">Shape:</label>
        <input [(ngModel)]="planter.shape" 
        placeholder="Shape"
         name="shape" 
         class="form-control"
          id="shape">
      </div>

      <div class="form-group">
        <label for="capacity">Capacity:</label>
        <input [(ngModel)]="planter.capacity" 
        placeholder="Capacity"
         name="capacity" 
         class="form-control"
          id="capacity">
      </div>

      <div class="form-group">
        <label for="drainageHoles">Drainage Holes:</label>
        <input [(ngModel)]="planter.drainageHoles" 
        placeholder="Drainage Holes"
         name="drainageHoles" 
         class="form-control"
          id="drainageHoles">
      </div>

      <div class="form-group">
        <label for="color">Color:</label>
        <input [(ngModel)]="planter.color" 
        placeholder="Color"
         name="color" 
         class="form-control"
          id="color">
      </div><br>
      <button class="btn btn-dark" type="reset">Reset</button>
      <button style="float: right;" class="btn btn-success" type="submit">Submit!</button>
    </form>
    
    </div>
    <hr>
