<div class="col-lg-6 container">
    <h2 class="text-center">Edit Planter</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="hidden row">
        <div class="col-25"><label for="id">Id</label></div>
        <div class="col-75"><input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true"></div>
      </div>
      <div class="form-group row">
        <div class="col-25"><label for="cost">Cost: </label></div>
        <div class="col-75"><input type="number" formControlName="cost" placeholder="Cost" name="cost" class="form-control" id="cost" ></div>
      </div>
  
      
      <div class="form-group row">
        <div class="col-25"><label for="type">Product Type: </label></div>
        <div class="col-75"><input type="text" formControlName="type" placeholder="Product Type" name="type" class="form-control" id="type"></div>
      </div>
  
      <div class="form-group row">
        <div class="col-25"><label for="height">Height: </label></div>
        <div class="col-75"><input type="number" formControlName="height" placeholder="Height" name="height" class="form-control" id="height"></div>
      </div>

      <div class="form-group row">
        <div class="col-25"><label for="shape">Shape: </label></div>
        <div class="col-75"><input type="text" formControlName="shape" placeholder="Shape" name="shape" class="form-control" id="shape"></div>
      </div>

      <div class="form-group row">
        <div class="col-25"><label for="capacity">Capacity: </label></div>
        <div class="col-75"><input type="number" formControlName="capacity" placeholder="Capacity" name="capacity" class="form-control" id="capacity"></div>
      </div>

      <div class="form-group row">
        <div class="col-25"><label for="drainageHoles">Drainage Holes: </label></div>
        <div class="col-75"><input type="number" formControlName="drainageHoles" placeholder="Drainage Holes" name="drainageHoles" class="form-control" id="drainageHoles"></div>
      </div>

      <div class="form-group row">
        <div class="col-25"><label for="color">Color: </label></div>
        <div class="col-75"><input type="text" formControlName="color" placeholder="Color" name="color" class="form-control" id="color"></div>
      </div>
  
      
      <input style="margin-left: 55%; margin-top: 1%;" type="submit" value="Update" class="btn btn-success">
    </form>
  </div>
