<p>edit-plant works!</p>
<div class="col-md-6 user-container">
    <h2 class="text-center">Edit User</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="hidden">
            <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
        </div>
        <div class="form-group">
            <label for="commonName">Common Name:</label>
            <input type="text" formControlName="commonName" placeholder="commonName" name="commonName" class="form-control" id="commonName">
        </div>
        <div class="form-group">
            <label for="cost">Cost</label>
            <input formControlName="cost" type="cost" placeholder="cost" name="cost" class="form-control" id="cost">
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="text" formControlName="stock" placeholder="stock" name="stock" class="form-control" id="stock">
        </div>

        <div class="form-group">
            <label for="type">type</label>
            <input type="text" formControlName="type" placeholder="type" name="type" class="form-control" id="type">
        </div>
        <div class="form-group">
            <label for="height">height</label>
            <input type="text" formControlName="height" placeholder="height" name="height" class="form-control" id="height">
        </div>
        <div class="form-group">
            <label for="spread">spread</label>
            <input type="text" formControlName="spread" placeholder="spread" name="spread" class="form-control" id="spread">
        </div>
        <div class="form-group">
            <label for="bloomTime">bloomTime</label>
            <input type="text" formControlName="bloomTime" placeholder="bloomTime" name="bloomTime" class="form-control" id="bloomTime">
        </div>
        <div class="form-group">
            <label for="medicinalOrCulinaryUse">medicinalOrCulinaryUse</label>
            <input type="text" formControlName="medicinalOrCulinaryUse" placeholder="medicinalOrCulinaryUse" name="medicinalOrCulinaryUse" class="form-control" id="medicinalOrCulinaryUse">
        </div>
        <div class="form-group">
            <label for="difficultyLevel">difficultyLevel</label>
            <input type="text" formControlName="difficultyLevel" placeholder="difficultyLevel" name="difficultyLevel" class="form-control" id="difficultyLevel">
        </div>
        <div class="form-group">
            <label for="temperature">temperature</label>
            <input type="text" formControlName="temperature" placeholder="temperature" name="temperature" class="form-control" id="temperature">
        </div>
        <div class="form-group">
            <label for="typeOfPlant">typeOfPlant</label>
            <input type="text" formControlName="typeOfPlant" placeholder="typeOfPlant" name="typeOfPlant" class="form-control" id="typeOfPlant">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" placeholder="description" name="description" class="form-control" id="description">
        </div>
        <input type="submit" value="Update" class="btn btn-success">
    </form>
</div>