<p>plant works!</p>
<div class="container">
    <div class="col">
        <div class="card">
            <h5 class="card-header">{{plant.commonName}}</h5>
            <div class="card-body">
                <h5 class="card-title">Details</h5>
                <h6 class="card-subtitle">{{plant.typeOfPlant}}</h6>
                <p class="card-text">
                    {{plant.id}} </p>
            </div>
            <div class="card-footer">
                <button (click)="onBack()">Back</button>
            </div>
        </div>
    </div>
</div>