<div class="col-lg-6 container">
    <h2 class="text-center">Add New Seed</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group row required">
            <div class="col-25">
                <label for="commonName">Common Name:</label> </div>
            <div class="col-75">
                <input type="text" formControlName="commonName" name="commonName" class="form-control" id="commonName" [ngClass]="{'is-invalid': (addForm.controls.commonName.touched ||addForm.controls.commonName.dirty) &&!addForm.controls.commonName.valid }" />
                <span class="invalid-feedback">
                <span *ngIf="addForm.controls.commonName.errors?.required">
                  Please enter 'Common name' of Seed
                </span>
                </span>
            </div>
        </div>
        <div class="form-group row required">
            <div class="col-25"><label for="cost">Cost</label></div>
            <div class="col-75">
                <input formControlName="cost" type="cost" name="cost" class="form-control" id="cost" [ngClass]="{'is-invalid': (addForm.controls.cost.touched ||addForm.controls.cost.dirty) &&!addForm.controls.cost.valid }" />
                <span class="invalid-feedback">
                <span *ngIf="addForm.controls.cost.errors?.required">
                  Please enter 'Cost' of Seed
                </span>
                <span *ngIf="addForm.controls.cost.errors?.min">
                    Please enter positive value
                  </span>
                </span>
            </div>
        </div>
        <div class="form-group row required">
            <div class="col-25"><label for="stock ">Stock</label></div>
            <div class="col-75">
                <input type="text" formControlName="stock" name="stock" class="form-control" id="stock" [ngClass]="{'is-invalid': (addForm.controls.stock.touched ||addForm.controls.stock.dirty) &&!addForm.controls.stock.valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="addForm.controls.stock.errors?.required">Please enter 'Stock' of plant</span>
                <span *ngIf="addForm.controls.stock.errors?.min">Please enter positive value</span>
                </span>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-25"><label for="type">Type</label></div>
            <div class="col-75"><input type="text" formControlName="type" name="type" class="form-control" id="type" readonly="true">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-25"><label for="watering ">watering</label></div>
            <div class="col-75"><input type="text" formControlName="watering" name="watering" class="form-control" id="watering">
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-25"><label for="bloomTime">Bloom Time</label></div>
            <div class="col-75"><select type="text" formControlName="bloomTime" name="bloomTime" class="form-control" id="bloomTime">
                <option value="WINTER">Winter</option>
                <option value="SUMMER">Summer</option>
                <option value="MONSOON">Monsoon</option>
                <option value="AUTUMN">Autumn</option>

            </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-25"><label for="seedsPerPacket">Seed per packet</label></div>
            <div class="col-75">
                <input type="text" formControlName="seedsPerPacket" name="seedsPerPacket" class="form-control" id="seedsPerPacket">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25"><label for="difficultyLevel">Difficulty Level</label></div>
            <div class="col-75"><select type="text" formControlName="difficultyLevel" name="difficultyLevel" class="form-control" id="difficultyLevel">
                <option value="EASY">Easy</option>
                <option value="MEDIUM">Medium</option>
                <option value="HARD">Hard</option>
            </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25"><label for="temperature">Temperature</label></div>
            <div class="col-75"><input type="text" formControlName="temperature" name="temperature" class="form-control" id="temperature">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-25"><label for="typeOfSeed ">Type Of Seed</label></div>
            <div class="col-75"><input type="text" formControlName="typeOfSeed" name="typeOfSeed" class="form-control" id="typeOfSeed">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-25"><label for="description">Description</label></div>
            <div class="col-75">
                <input type="text" formControlName="description" name="description" class="form-control" id="description">
            </div>
        </div>
        <div class="row">
            <div id="add_button">
                <input type="submit" value="Add" class="btn btn-success" [title]="addForm.valid ? 'The plant data is ready to add' : 'Disabled until the form data is valid'" [disabled]="!addForm.valid"
                >
            </div>
        </div>
    </form>
</div>

<!-- 
<div class="col-md-6 user-container">
    <h2 class="text-center">Add new Seed</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group row required">
            <label for="cost">Cost</label>
            <input formControlName="cost" type="cost" placeholder="cost" name="cost" class="form-control" id="cost">
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="text" formControlName="stock" placeholder="stock" name="stock" class="form-control" id="stock">
        </div>
        <div class="form-group">
            <label for="type">type</label>
            <input type="text" formControlName="type" placeholder="type" name="type" class="form-control" id="type">
        </div>
        <div class="form-group">
            <label for="watering">watering</label>
            <input type="text" formControlName="watering" placeholder="watering" name="watering" class="form-control" id="watering">
        </div>
        <div class="form-group">
            <label for="bloomTime">bloomTime</label>
            <input type="text" formControlName="bloomTime" placeholder="bloomTime" name="bloomTime" class="form-control" id="bloomTime">
        </div>
        <div class="form-group">
            <label for="difficultyLevel">difficultyLevel</label>
            <input type="text" formControlName="difficultyLevel" placeholder="difficultyLevel" name="difficultyLevel" class="form-control" id="difficultyLevel">
        </div>
        <div class="form-group">
            <label for="temperature">temperature</label>
            <input type="text" formControlName="temperature" placeholder="temperature" name="temperature" class="form-control" id="temperature">
        </div>
        <div class="form-group">
            <label for="typeOfSeed">typeOfseed</label>
            <input type="text" formControlName="typeOfSeed" placeholder="typeOfSeed" name="typeOfSeed" class="form-control" id="typeOfSeed">
        </div>
        <div class="form-group">
            <label for="name">Common Name:</label>
            <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" placeholder="description" name="description" class="form-control" id="description">
        </div>
        <div class="form-group">
            <label for="seedsPerPacket">Seeds per packet</label>
            <input type="text" formControlName="seedsPerPacket" placeholder="seedsPerPacket" name="seedsPerPacket" class="form-control" id="seedsPerPacket">
        </div>
        <input type="submit" value="Add" class="btn btn-success">
    </form>
</div> -->